[submodule "bsp-xilinx"]
	path = bsp-xilinx
	url = https://github.com/enclustra-bsp/bsp-xilinx.git
[submodule "out_stfc_femii_MMC"]
	path = out_stfc_femii_MMC
	url = git@github.com:stfc-aeg/out_stfc_femii_MMC.git

